{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

  <p>Olet kirjautunut nimellä <strong>{{ session.username }}</strong></p>
    <a href="/main">Palaa aihevalintaan</a>
  <br>

  <title>Vastaus</title>
    <h1> Sait {{counter}} / {{num}} oikein!</h1>
      <hr>
      <h3> Tässä kyselyssä sait {{score}} % oikein! </h3>
      <hr>
      <p> Olet vastannut kysymyksiin aiheesta {{title}} yhteensä <strong>{{count}}</strong> kertaa ja kaiken kaikkiaan <strong>{{all_questions}}</strong> kysymykseen.  </p>
      <p> Kaikkien vastausten lopputulos on <strong>{{all_score}} % </strong> oikein! </p>

{% endblock %}
