<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Kyselysovellus</title>
  </head>

  <body style="background-color:Lavender;border-left-width: 0px;border-left-style: solid;margin-left: 15px;margin-right: 15px;border-right-width: 0px;border-right-style: solid;padding-left: 30px;padding-right: 30px;">
    <br>
    <h1 style="color:MidnightBlue;text-align:center;"><strong>KYSELYSOVELLUS</strong></h1>
    <h3 style="color:MidnightBlue;text-align:center;">Tsoha, syksy 2021</h3>
  </body>
  <hr>
    <style>
    h1 {text-align: center;}
    hr {color: #9370DB; }

    input[type=button], input[type=submit], input[type=reset] {
      background-color: #9370DB;
      border: none;
      border-radius: 5px;
      color: #000080;
      padding: 8px 24px;
      text-decoration: none;
      margin: 6px 3px;
      cursor: pointer;
    }

  </style>

  {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/main">Jatka pääsivulle</a>
    <br>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div style="color:red;text-align:center;">{{ message }}</div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
      <p>Tunnus:<br>
        <input type="text" name="username"></p>
      <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </form>
    <hr>
    <a href="/register">Rekisteröidy</a>
  {% endif %}

  <footer class="f_text" style="position: fixed; bottom: 0px; width: 100%; padding-right: 90px;">
    <div class="f_text" style="background-color:#87CEFA; color: MidnightBlue; text-align: center;">
      Tietokantasovellus harjoitustyö - Evgeniia Minaeva
    </div>
  </footer>

</html>
