<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Kyselysovellus</title>
  </head>

  <body style="background-color:Lavender;border-left-width: 0px;border-left-style: solid;margin-left: 15px;margin-right: 15px;border-right-width: 0px;border-right-style: solid;padding-left: 30px;padding-right: 30px;">
    <br>
    <h1 style="color:MidnightBlue;text-align:center;">Kysymyksiä - vastauksia!</h1>
    <h3 style="color:MidnightBlue;text-align:center;">Tietokantasovellus - Tsoha, syksy 2021</h3>
  </body>
  <hr>
  {% block content %}
  {% endblock %}
</html>
