{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

  {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/main">Jatkaa pääsivulle</a>
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div style="color:red;text-align:center;">{{ message }}</div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/login">
      <p>Tunnus:<br>
        <input type="text" name="username"></p>
      <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </form>
    <hr>
    <a href="/register">Rekisteröidy</a>
  {% endif %}

{% endblock %}
