{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

  <title>Etusivu</title>
  <h1> Tervetuloa! </h1>
  <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div style="color:red;text-align:center;">{{ message }}</div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  {% if session.username %}
    <p>Olet kirjautunut tunnuksella {{ session.username }} ja roolisi on {{ session.role }}</p>
      <a href="/logout">Kirjaudu ulos</a>

      {% if session.role == 'Admin' %}
        <h3>Haluatko siirtyä hallintasivulle?</h3>
          <a href="/administration">Siirry hallintasivulle!</a>
      {% endif %}

      <div class="container">
        <div class="row">
          <div class="col-6">
            <hr>
            <h3> Aiheet: </h3>
              <form action="/quiz" method="POST">
                <label for="title">Valitse aihe:</label>
                  <select name="title" id="title"> {% for result in title %} <option value="{{ result[0] }}"> {{ result[0] }} </option> {% endfor %}  </select>
                <br>
                <label for="title">Montako kysymysta?:</label>
                  <input type="text" name="amount" value="" size="10" maxlength="32" label>
                <p><input type="submit" value="Valitse"></p>
              </form>
          </div>
          <div class="col-5">
            <hr>
            <h3> Kysy aiheesta: </h3>
              <form action="/comment" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="is_resolved" value="0">
                <label for="title">Valitse aihe:</label>
                  <select name="title" id="title"> {% for result in title %} <option value="{{ result[0] }}"> {{ result[0] }} </option> {% endfor %}  </select>
                <br>
                <label for="comment">Mitä haluat kysyä/kommentoida?:</label>
                  <textarea name="comment" rows="3" cols="50"> </textarea>
                <p><input type="submit" value="Lähetä"></p>
              </form>
          </div>

      </div>
    </div>

      {% if session.role == 'Ohjaaja' %}
        <div class="container">
          <div class="row">
            <div class="col-6">
              <hr>
              <h3> Aiheen luominen </h3>
              <form action="/subject" method="POST">
                <h4> Luo uusi aihe: </h4>
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                  <label> Anna aiheen nimi </label>
                    <input type="text" name="title" required="required" value="" size="20" maxlength="64" label ></p>
                  <label> Anna aiheen lyhyt kuvaus </label>
                    <textarea name="description" rows="3" cols="50"></textarea>
                  <p><input type="submit" value="Luo aihe"></p>
              </form>
            </div>
            <div class="col-5">
              <hr>
              <h3> Kysymyksen luominen </h3>
                <form action="/question" method="POST">
                  <h4> Luo uusi kysymys: </h4>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <label for="title">Valitse aihe:</label>
                      <select name="title" id="title"> {% for result in title %} <option value="{{ result[0] }}"> {{ result[0] }} </option> {% endfor %}  </select>
                  <br>
                    <label for="question_type">Valitse kysymystyyppi:</label>
                      <select name="question_type" id="question_type" required="required">
                        <option value="1"> Tosi/Epätosi </option>
                        <option value="2"> Lukuvastaus </option>
                        <option value="3"> Monivalinta </option>
                      </select>
                  <br>
                    <label> Syötä kysymys </label>
                      <textarea name="question" required="required" rows="2" cols="50"></textarea>
                  <br>
                    <label> Syötä vastaus </label>
                      {% if question_type == boolean %}
                        <input type="radio" name="answer" required="required" value="1">Tosi
                        <input type="radio" name="answer" required="required" value="0">Epätosi <br>
                      {% endif %}
                    <p><input type="submit" value="Luo kysymys"></p>
                </form>
              <hr>
            </div>
            <div class="row">
              <h3> Käyttäjät </h3>
                <table border="1" cellspacing="2">
                  <tr>
                    <th>Aihe</th><th>Kysymys</th><th>Sulje kysymys</th>
                    </tr>
                    <tr>
                      {% for row in comments %}
                        <tr>
                          <form action="/resolve_qustion" method="POST">
                            <input type="hidden" name="comment_id" value="{{row[2]}}">
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td><input type="submit" value="Sulje kysymys"></td>
                          </form>
                        </tr>
                      {% endfor %}
                    </tr>
                </table>
            <hr>
            </div>
        </div>
      {% endif %}
  {% else %}
    <h3> Et ole kirjautunut! Palaa kirjatumissivulle </h3>
    <a href="/">Palaa kirjatumissivulle!</a>
  {% endif %}

{% endblock %}
