{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<style>
h1 {text-align: center;}

</style>

  <title>Etusivu</title>
  <h1>  Tervetuloa! </h1>
  <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div style="color:red;text-align:center;">{{ message }}</div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  {% if session.username %}
    <p>Olet kirjautunut tunnuksella <strong>{{ session.username }}</strong> ja roolisi on <strong>{{ session.role }}</strong></p>
      <a href="/logout">Kirjaudu ulos</a>

      {% if session.role == 'Admin' %}
        <h3>Haluatko siirtyä hallintasivulle?</h3>
          <a href="/administration">Siirry hallintasivulle!</a>
      {% endif %}

      <div class="container-fluid" style="width=100%">
        <div class="row">
          <div style="width=80%" class="col-6">
            <hr>
            <h3> Aiheet: </h3>
              <form id="quiz" action="/quiz" method="POST" onsubmit="return check_quiz(this)">
                <label for="title">Valitse aihe  </label>
                  <select name="title" id="title"> {% for result in title %} <option value="{{ result[0] }}"> {{ result[0] }} </option> {% endfor %}  </select>
                <br>
                <label for="title">Montako kysymysta?</label>
                  <input type="text" name="amount" value="" size="10" maxlength="32" label>
                <p><input class="button_f" type="submit" value="Valitse"></p>
              </form>
          </div>
          <div style="width=80%" class="col-6">
            <hr>
            <h3> Kysy aiheesta: </h3>
              <form id="f1" action="/comment" method="POST" onsubmit="return check_comment(this)">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="is_resolved" value="0">
                <label style="center" for="title">Valitse aihe </label>
                  <select name="title" id="title"> {% for result in title %} <option value="{{ result[0] }}"> {{ result[0] }} </option> {% endfor %}  </select>
                <br>
                <label for="comment">Mitä haluat kommentoida? </label>
                  <textarea style="vertical-align: middle;" name="comment" id="comment" required="required" minlength="10" maxlength="150" rows="3" cols="40"> </textarea>
                <p><input type="submit" value="Lähetä"></p>
              </form>
          </div>

      </div>
    </div>

      {% if session.role == 'Ohjaaja' %}
        <div class="container-fluid" style="width=100%">
          <div class="row">
            <div style="width=100%" class="col-6">
              <hr>
              <h3> Aiheen luominen </h3>
              <form action="/subject" method="POST" onsubmit="return check_title(this)">
                <h4> Luo uusi aihe: </h4>
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                  <label> Anna aiheen nimi </label>
                    <input type="text" name="title" required minlength="5" maxlength="30" value="" size="30" label ></p>
                  <label> Anna aiheen lyhyt kuvaus </label>
                    <textarea style="vertical-align: middle;" name="description" required minlength="8" maxlength="200" rows="4" cols="40"></textarea>
                  <p><input type="submit" value="Luo aihe"></p>
              </form>
              <hr>
            </div>
            <div style="width=100%" class="col-6">
              <hr>
              <h3> Kysymyksen luominen </h3>
                <form action="/question" method="POST" onsubmit="return check_question(this)">
                  <h4> Luo uusi kysymys: </h4>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <label for="title">Valitse aihe:</label>
                      <select name="title" id="title"> {% for result in own_subjects %} <option value="{{ result[0] }}"> {{ result[0] }} </option> {% endfor %}  </select>
                  <br>
                    <label for="question_type">Valitse kysymystyyppi:</label>
                      <select name="question_type" id="question_type" required="required">
                        <option value="1"> Tosi/Epätosi </option>
                        <option value="2"> Lukuvastaus </option>
                        <option value="3"> Monivalinta </option>
                      </select>
                  <br>
                    <label> Syötä kysymys </label>
                      <textarea style="vertical-align: middle;" name="question" required="required" minlength="8" maxlength="200" required="required" rows="2" cols="40"></textarea>
                  <br>
                    <label> Syötä vastaus </label>
                      {% if question_type == boolean %}
                        <input type="radio" name="answer" required="required" value="1">Tosi
                        <input type="radio" name="answer" required="required" value="0">Epätosi <br>
                      {% endif %}
                    <p><input type="submit" value="Luo kysymys"></p>
                </form>
              <hr>
            </div>
          </div>
        </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h3> Kommentit ja kysymykset: </h3>
              <br>
                <table border="1" cellspacing="2">
                  <tr>
                    <th>Aihe</th><th>Kysymys/Kommentit</th><th>Sulje kysymys/kommentti</th>
                    </tr>
                    <tr>
                      {% for row in comments %}
                        <tr>
                          <form action="/resolve_comment" method="POST">
                            <input type="hidden" name="comment_id" value="{{row[2]}}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            {% if row[3] == false %}
                              <td><input type="submit" value="Sulje kysymys"></td>
                            {% else %}
                              <td>Kysymys on jo suljettu</td>
                            {% endif %}
                          </form>
                      </tr>
                    {% endfor %}
                  </tr>
                </table>
          </div>
        </div>
      </div>
      {% endif %}
  {% else %}
    <h3> Et ole kirjautunut! Palaa kirjatumissivulle </h3>
    <a href="/">Palaa kirjatumissivulle!</a>
  {% endif %}
  <hr>
  <br>
  <br>

<script>
  function check_quiz(form) {
    if (form.amount.value == 0) {
        alert("Valitse vähintään 1 kysymys!");
        return false;
    }
    return true;
  }

</script>

{% endblock %}
