<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

  <title>Etusivu</title>
    <h1> Tervetuloa vastamaan kysymyksiin! </h1>
    <hr>

    <p>Olet kirjautunut nimellä {{ session.username }}</p>
      <a href="/main">Palaa aihevalintaan</a>
    <br>
      <a href="/logout">Kirjaudu ulos</a>

  <hr>
  <div style="margin: 20px">
    <h2 >Vastaa kysymyksiin </h2>
      <table border="0" cellspacing="5">
        <tr>
          <th>Kysymys</th><th>Tosi </th><th>Epätosi </th><th>Tarkista </th>
        </tr>

        <form action="/check" method="POST">
          <tr>
            <input type="hidden" name="question_id" value="{{questions[0]}}">
            <input type="hidden" name="answer" value="{{questions[3]}}">
            <input type="hidden" name="title_id" value="{{questions[2]}}">
            <td>{{ questions[1] }}</td>
            <td><input type="radio" name="value" value="1"> </td>
            <td><input type="radio" name="value" value="0"></td>
            <td><input type="submit" value="Lukitse"></td>
          </tr>
        </form>

      </table>
  </div>

</html>
